<div>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav [mode]="isSmallScreen ? 'over' : 'side'" [opened]="!isSmallScreen" class="sidenav">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="/admin/home"><mat-icon>dashboard</mat-icon> {{'Dashboard' | translate}}</a>
        <a mat-list-item routerLink="/admin/users"><mat-icon>group</mat-icon> {{'Users' | translate}}</a>
        <a mat-list-item routerLink="/admin/reports"><mat-icon>assessment</mat-icon> {{'Reports' | translate}}</a>
        <a mat-list-item routerLink="/admin/settings"><mat-icon>settings</mat-icon> {{'Settings' | translate}}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar color="primary" class="toolbar">
        <button *ngIf="isSmallScreen" mat-icon-button (click)="sidenav.toggle()" aria-label="Toggle sidenav">
          <mat-icon>menu</mat-icon>
        </button>

        <span class="toolbar-title">{{'welcomeMessage' | translate}}</span>

        <span class="spacer"></span>
        <span class="toolbar-title toolbar">
          Kinal Kukda (Viewer)
          <button mat-icon-button [matMenuTriggerFor]="profileMenu">
            <mat-icon>arrow_drop_down</mat-icon>
          </button>
        </span>

        <mat-menu #profileMenu="matMenu">
          <button mat-menu-item (click)="routing()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </mat-toolbar>

      <div class="main-content">
        <router-outlet></router-outlet>
        <div class=" horizontal-settings">
          <div class="settings-panel-light">
            <button class="settings-toggle" [class.rotated]="toggleSettings" (click)="toggleSettings = !toggleSettings">
              <mat-icon>settings</mat-icon>
            </button>

            <div *ngIf="toggleSettings" class="settings-card-horizontal animate-show">

              <app-settings></app-settings>

              <div class="settings-option">
                <label for="lang">Language:</label>
                <mat-form-field appearance="outline">
                  <mat-select [(ngModel)]="selectedLang" name="lang" (selectionChange)="switchLanguage($event)">
                    <mat-option value="en">English</mat-option>
                    <mat-option value="hi">Hindi</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>